<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>John Lennon</title>
</head>
<body>
  <a href="/">Home</a></span>
  <h1>Paul McCartney</h1>
  <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Ffarm9.staticflickr.com%2F8421%2F7644804064_1ee76dd3f3_z.jpg&f=1&nofb=1" alt="">
</body>
</html>