<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>John Lennon</title>
</head>
<body>
  <a href="/">Home</a></span>
  <h1>Ringo Starr</h1>
  <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2F736x%2Fc0%2F3f%2F6f%2Fc03f6f62ccbe5683be4e4ca4001b382c.jpg&f=1&nofb=1" alt="">
</body>
</html>