@{
    ViewData["Title"] = "Chefs N Dishes";
}

<a href="/" class="btn text-left mx-2 my-2">Home</a>
<div class="text-center">
<h1 class="display-4">Add a new Chef!</h1>
    
 @model Chef

    <form asp-action="CreateChef" asp-controller="Home" method="post">
        <div class="d-block my-2">
          <span asp-validation-for="Name" class="text-danger"></span>
          <label asp-for="Name"></label>
          <input asp-for="Name">
        </div>
          <div class="d-block my-2">
          <span asp-validation-for="Birthday" class="text-danger"></span>
          <label asp-for="Birthday"></label>
          <input type="date" asp-for="Birthday">
        </div>
       
      
       
        <div class="d-block my-2">
          <button class="btn btn-info" type="submit">Add Chef</button>
        </div>  
    </form>



</div>
