@{
    ViewData["Title"] = "Chefs N Dishes";
}

<a href="/" class="btn text-left mx-2 my-2">Home</a>
<div class="text-center">
<h1 class="display-4">Add a new Dish!</h1>
    
 @model NewDish

    <form asp-action="CreateDish" asp-controller="Home" method="post">
        <div class="d-block my-2">
          <span asp-validation-for="Dish.Name" class="text-danger"></span>
          <label asp-for="Dish.Name"></label>
          <input asp-for="Dish.Name">
        </div>
          <div class="d-block my-2">
          <span asp-validation-for="Dish.ChefId" class="text-danger"></span>
          <label asp-for="Dish.ChefId">Chef </label>
          <select asp-for="Dish.ChefId">
              
              @foreach (var currentChef in Model.Chefs)
              {
                <option value="@currentChef.ChefId">@currentChef.Name</option>
              }
              
          </select>
        </div>
        <div class="d-block my-2">
          <span asp-validation-for="Dish.Tastiness" class="text-danger"></span>
          <label asp-for="Dish.Tastiness"></label>
          <select asp-for="Dish.Tastiness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="d-block my-2">
          <span asp-validation-for="Dish.Calories" class="text-danger"></span>
          <label asp-for="Dish.Calories"></label>
          <input asp-for="Dish.Calories">
        </div>
        <div class="d-block my-2">
          <span asp-validation-for="Dish.Description" class="text-danger"></span>
          <label asp-for="Dish.Description"></label>
          <textarea asp-for="Dish.Description"></textarea>
        </div>
        <div class="d-block my-2">
          <button class="btn btn-info" type="submit">Add Dish</button>
        </div>  
    </form>



</div>
