<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Results</title>
</head>
<body>
   <body>
        <h1>Dojo Survey - Results</h1>
        <p><label for="name">Name: </label>@ViewBag.name</p>
        <p><label for="location">Dojo Location: </label>@ViewBag.dojo_location</p>
        <p><label for="fav_lang">Favorite Language: </label>@ViewBag.fav_lang</p>
        <p><label for="comment">Comment (optional): </label>@ViewBag.comments</p>
        <a href="/">Back</a>
    </body>
</body>
</html>